<textarea id="new-joke-input" placeholder="Type your joke here..."></textarea>
<textarea id="new-joke-answer-input" placeholder="Type the answer to the joke here..."></textarea>

<input id="add-new-joke-submit" type="button" value="Add Joke" class="button" />

<div id="joke-submit-form-response"></div>