<button id="new-joke">Show a Random Joke</button>
<button id="show-answer" style="display:none;">Show Answer</button>

<div class="jokes-wrapper">
  <!-- jokes will go here -->
</div>

<div class="jokes-answer-wrapper">
  <!-- jokes will go here -->
</div>