<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Joke Maker!</title>

        <link rel="stylesheet" href="/css/style.css" type="text/css" />
    </head>

    <body>
        <%= erb :_header %>
        <div class="row">
            <%= erb :_sidebar %>
            <div class="large-6 columns panel">
                Your erb file you reference in your Sinatra
                routes will show up here
                <br />
                <br />
                <%= yield %>
            </div>
            <div class="large-3 columns panel">
              Hey Revenue rocks!
              <br />
              Maybe put some ads here
            </div>
        </div>
        <%= erb :_footer %>
        <script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
        <script type="text/javascript" src="/js/vendor/foundation.min.js"></script>
        <script type="text/javascript" src="/js/vendor/underscore.js"></script>
        <script type="text/javascript" src="/js/utils.js"></script>
        <script type="text/javascript" src="/js/controllers/business-logic.js"></script>
        <script type="text/javascript" src="/js/presenters/presentation-ui.js"></script>

    </body>

</html>